@font-face {
    font-family: 'Open Sans';
    src: url('/src/assets/fonts/OpenSans/OpenSans-Light.ttf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/src/assets/fonts/OpenSans/OpenSans-Regular.ttf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/src/assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('opentype');
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/src/assets/fonts/OpenSans/OpenSans-Bold.ttf') format('opentype');
    font-weight: 700;
}

$font-open-sans: 'Open Sans', Sans-Serif;
